<div class="title">
  <h2>Edit Book Review</h2>
  <%=form_for @bookreview do |f| %>
  
    <%=f.label "Review Title"%><br>
    <%=f.text_field :title%><br>

    <%=f.label :score%><br>
    <%=f.select :score, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %><br>

    <%=f.label :text%><br>
    <%=f.text_area :text, rows: 3, cols: 30%><br>

    <%=f.submit%>
  <%end%>
</div>
