<h2>All Album Reviews</h2>
<ul>
  <%@reviews.each do |review|%>
  <div class="movielist">
    <li class="index">
      <a href=<%="/albumreviews/#{review.id}"%>>
        <img class="smallimg" src=<%=review.photo_url%>>
      </a>
      <%= rating_for review, "Helpfulness", :disable_after_rate => false %>
      <%="#{review.name.titleize} -- '#{review.title}' by #{review.user.email}"%>
    </li>
  </div>
  <%end%>
</ul>

<%=link_to "New Review", new_work_path%>
