<h2 class="title">
  All Movie Reviews
  <%=link_to "(+)", new_review_path%>
</h2>
<ul>
  <%@reviews.each do |review|%>
    <div class="movielist">
      <li>
        <a href=<%="/reviews/#{review.id}"%>>
          <img class="smallmimg" src=https://image.tmdb.org/t/p/w780/<%=review.photo_url%>>
        </a>
        <%= rating_for review, "Helpfulness", :disable_after_rate => false, star_path: '/images/ratyrate' %>
        <%="#{review.name.titleize} -- '#{review.title.titleize}' #{review.score}/10"%> <%="(#{review.user.email})"%>
      </li>
    </div>
  <%end%>
</ul>
