<!DOCTYPE html>
<html>
<head>
  <title>Youreview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ratyrate.js.erb'%>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

  <% if current_user %>
    <h3><%="#{current_user.email}"%>  <%= link_to '(Signout)', destroy_user_session_path, :method => :delete %></h3>
  <% else %>
    <h3><%= link_to 'Signup', new_user_registration_path %></h3>
    <h3><%= link_to 'Login', new_user_session_path %></h3>
  <% end %>
  <nav><%=link_to "Movie Reviews", reviews_path%> <%=link_to "Album Reviews", albumreviews_path%> <%=link_to "Book Reviews", bookreviews_path%></nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
